body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin:  0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 50%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

h1, h2 {
    text-align: center;
    color: #333;
}
form{
    display: flex;
    flex-direction: column;
}
label {
    display: block;
    margin: 15px 5px 5px 5px;
}

input, select {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 550;
    height: 43px;
    margin-top: 15px;
}

button:hover {
    background-color: rgb(40 167 69 / 81%);
}

#result {
    display: none;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
}

#result.success {
    background-color: #e0f7e0;
    color: #2e7d32;
    border: 1px solid #81c784;
}
#claims-details {

    display: none;
}
.error-outline{
    border-color: red;
    color: red;
    outline: red  auto 1px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: -12px;
}
.car-value-error{
    color: red;
    font-size: 14px;
    margin-top: -12px;
}
.car-year-error{
    color: red;
    font-size: 14px;
    margin-top: -12px;
}
.mileage-error{
    color: red;
    font-size: 14px;
    margin-top: -12px;
}

#result.error {
    background-color: #ffe0e0;
    color: #d32f2f;
    border: 1px solid #e57373;
}



